body {
    font-family: sans-serif;
}
.texto-vermelho{
    color: red;
}

header ul{
    text-align: center;
}

header ul {
    list-style: none;
    padding: 0px;
}

header ul li {
    text-align: center;
    display: inline-block;
    padding: 15px;
}

div {
    width: 60px;
}

img {
    max-width: 100%;
    height: auto;
}